div.note {
    /* width: 140px; */
    min-height:150px;
    height:150px;
    float: left;
    position: relative;
    width: 95%;
    background: rgb(179, 175, 241);
    margin: 4px;
    border-left: 2% solid rgb(246, 248, 246);
    padding: 1%;
    list-style-type: none;
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space : normal;
    transition: all 200ms ease-in-out;
    box-shadow:  4px;
  }


  
  div.note:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content:'';
    background:white;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(97, 93, 93);
  }

  