
<div class="ui-g ui-g-nopad" >

    <div class="ui-g-2 ui-g-nopad"  style="margin-top: 60px">
                <div class="card" style="width: 14rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="color:rgb(41, 41, 41);background-color: rgb(214, 210, 210);">Entries</li>
                        </ul>
                </div>
                <div class="card  shadow" style="width: 14rem;height:350px">
                        <ul class="list-group list-group-flush scroll" style="overflow:hidden; overflow-y:scroll;">
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                          
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                          
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                          
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','1']">Details</a></li>
                          <li class="list-group-item"> <a [routerLink]="['detail','2']">Details2</a></li>
                        </ul>
                </div>
           
         
       
    </div>
    <div class="ui-g-10 ui-g-nopad">
       
            <router-outlet></router-outlet>
        
        
    </div>
</div>

