<html>
<body>

<div id="mySidebar" [ngClass]="flag===true?'sidebar active':'sidebar'" >
    <a routerLink="/Home" routerLinkActive='test' ><i class="fa fa-fw fa-home" pInputText pTooltip="Home" tooltipPosition="right"></i> <span class="visible">Home</span></a>
    <a routerLink="/Vote" routerLinkActive='test'><i class="fa fa-fw fa-wrench" pInputText pTooltip="Vote" tooltipPosition="right"></i> <span class="visible">Services</span></a>
    <a routerLink="/URL" routerLinkActive='test'><i class="fa fa-fw fa-user" pInputText  pTooltip="URL" tooltipPosition="right"></i><span class="visible" > Clients</span></a>
    <a routerLink="/AGGRID" routerLinkActive='test'><i class="fa fa-fw fa-envelope"  pInputText  pTooltip="Contact" tooltipPosition="right"></i><span class="visible" > Contact</span></a>
    <a routerLink="/panel" routerLinkActive='test'><i class="fa fa-fw fa-tasks" pInputText  pTooltip="Panel" tooltipPosition="right"></i><span class="visible"> Panel</span></a>
  </div>


        <app-header [title]="title" (valueChange)="valueFromHeader($event)"> </app-header>
        
        <div [ngClass]="flag===true?'container active':'container'">
        <router-outlet> </router-outlet>
        
        </div>
      </body>
    </html>


