<div id="mySidebar" [ngClass]="flag===true?'sidebar active':'sidebar'">
    <a href="#home"><i class="fa fa-fw fa-home"></i> <span class="visible">Home</span></a>
    <a href="#services"><i class="fa fa-fw fa-wrench"></i> <span class="visible">Services</span></a>
    <a href="#clients"><i class="fa fa-fw fa-user"></i><span class="visible"> Clients</span></a>
    <a href="#contact"><i class="fa fa-fw fa-envelope"></i><span class="visible"> Contact</span></a>
  </div>
  
  <div   (click)="togglenav()" [ngClass]="flag==='true'?'active':''">
    <button >☰ Open Sidebar</button>  
    
  </div>



<div class="topnav">
  <a
    [ngClass]="activeflag === 'HOME' ? 'active' : ''"
    routerLink="/Home"
    (click)="changeActive('HOME')"
    >URLHealthCheck</a
  >
  <a
    [ngClass]="activeflag === 'VOTE' ? 'active' : ''"
    routerLink="/Vote"
    (click)="changeActive('VOTE')"
    >Vote(input output)</a
  >
  <a
    [ngClass]="activeflag === 'URL' ? 'active' : ''"
    routerLink="/URL"
    (click)="changeActive('URL')"
    >URL App</a
  >
  <a
    [ngClass]="activeflag === 'AGGRID' ? 'active' : ''"
    routerLink="/AGGRID"
    (click)="changeActive('AGGRID')"
    >AgGrid</a
  >
  <a
    [ngClass]="activeflag === 'ABOUT' ? 'active' : ''"
    routerLink="/About"
    (click)="changeActive('ABOUT')"
    >About</a
  >
</div>

