<!-- 

<div class="topnav">
    <a><i class="fa fa-fw fa-bars" (click)="togglenav()"></i></a> 
  <a
    [ngClass]="activeflag === 'HOME' ? 'active' : ''"
    routerLink="/Home"
    (click)="changeActive('HOME')"
    >&nbsp; URLHealthCheck</a
  >
  <a
    [ngClass]="activeflag === 'VOTE' ? 'active' : ''"
    routerLink="/Vote"
    (click)="changeActive('VOTE')"
    >Vote(input output)</a
  >
  <a
    [ngClass]="activeflag === 'URL' ? 'active' : ''"
    routerLink="/URL"
    (click)="changeActive('URL')"
    >URL App</a
  >
  <a
    [ngClass]="activeflag === 'AGGRID' ? 'active' : ''"
    routerLink="/AGGRID"
    (click)="changeActive('AGGRID')"
    >AgGrid</a
  >
  <a
    [ngClass]="activeflag === 'ABOUT' ? 'active' : ''"
    routerLink="/About"
    (click)="changeActive('ABOUT')"
    >About</a
  >

</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link"><i class="fa fa-fw fa-bars title" (click)="togglenav()"></i>URLCHECKER</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>

