<div class="ui-g ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad" style="text-align: center;">
            <h2><label>Details of panel {{id}}</label></h2>
        </div>
        <div class="ui-g-12 ui-g-nopad" >
            <span style="line-height: 30px;">ADD STEPS
                <i (click)="addStep()"  class="pi pi-plus-circle" style="cursor:pointer;position:relative;top: 13px;font-size: 3.5em;color: rgb(21, 40, 150);"></i></span> 
            <hr>
        </div>
        
    </div>

    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-4 ui-g-nopad" *ngFor="let step of arrOfSteps">
                
            <app-step [id]=step.id [delIconFlag]=stepid (emitDel)="removeFromArr($event)"></app-step> 
            
            
        </div>   
    </div>
</div>

